@import url("https://fonts.googleapis.com/css?family=Blinker&display=swap");

html {
  height: 100%;
}

* {
  font-family: "Blinker", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
    text-decoration: none;
    color: inherit;
  }